---
import Layout from "../../layouts/BlogPost.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout
  lang={lang}
  title={t("about.meta.title")}
  description={t("about.meta.description")}
  pubDate={new Date("August 08 2021")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Vitae ultricies leo
    integer malesuada nunc vel risus commodo viverra.
  </p>
</Layout>
