---
import BaseHead from "../../components/base/BaseHead.astro";
import Footer from "../../components/base/Footer.astro";
import HeroSubpage from "../../components/widgets/HeroSubpage.astro";
import Imprint from "../../components/base/Imprint.astro";
import Navigation from "../../components/base/Navigation.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead title={t("impressum.meta.title")} description={t("impressum.meta.description")} lang={lang} />
  </head>
  <body>
    <div class="relative">
      <Navigation />
      <main>
        <HeroSubpage title={t("impressum.title")} />
        <Imprint showTitle={false} />
      </main>
      <Footer />
    </div>
  </body>
</html>
